---
import SiteLayout from "../layouts/SiteLayout.astro";
import CardRow from "../components/CardRow.astro";
import { readFileSync } from 'node:fs';
import { parse } from 'csv-parse/sync';

const cardCsv = readFileSync('./src/cards/cards.csv', { encoding: 'utf-8' });
const cards = parse(cardCsv, {
    columns: true,
    skip_empty_lines: true
});
---
<SiteLayout title="Card Database" wide=true>
    <div class="overflow-x-auto">
        <table id="cards" class="text-sm">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Subtitle</th>
                <th scope="col" data-type="number">Base Power</th>
                <th scope="col" data-hidden="true">Draw Boost</th>
                <th scope="col" data-hidden="true">Max Damage</th>
                <th scope="col" data-type="number">Stars</th>
                <th scope="col" data-hidden="true">Game Text</th>
                <th scope="col" data-hidden="true">Flavorlogue</th>
                <th scope="col">Art Credit</th>
                <th scope="col">Pictures</th>
                <th scope="col" data-hidden="true">Set Release</th>
                <th scope="col" data-hidden="true">Card Number</th>
            </tr>
            </thead>
            <tbody>
                { cards.map((card) => <CardRow card={card} />) }
            </tbody>
        </table>
    </div>
</SiteLayout>

<script>
    import { DataTable, addColumnFilter } from "simple-datatables";

    const dt = new DataTable('#cards', {
        paging: false,
    });

    addColumnFilter(dt);
</script>