---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="Credits">
    <h1 class="text-4xl mb-5">Credits</h1>
    <p class="mb-5">Original Game Concept, Lead Development, and Organization by Lucheek.</p>
    <p class="mb-5">"Homestuck" Webcomic and Franchise by Andrew Hussie.</p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-y-16 pt-4">
        <div>
            <h2 class="text-2xl border-b-2 border-lavender border-dashed mb-4">Game Design</h2>
            <ul class="list-disc list-inside">
                <li><a class="underline text-web-blue" href="http://lucheek.com">Lucheek</a></li>
            </ul>
        </div>

        <div>
            <h2 class="text-2xl border-b-2 border-lavender border-dashed mb-4">Card Art & Graphic Design</h2>
            <ul class="list-disc list-inside">
                <li><a class="underline text-web-blue" href="http://lucheek.com">Lucheek</a></li>
                <li>Torrent 64</li>
                <li><a class="underline text-web-blue" href="https://www.tumblr.com/sleepyfudgetart">SleepyFudgetart</a></li>
                <li><a class="underline text-web-blue" href="https://vaccinipion.tumblr.com/">Vaccinipion</a></li>
            </ul>
        </div>

        <div>
            <h2 class="text-2xl border-b-2 border-lavender border-dashed mb-4">Play-Testing and Feedback</h2>
            <ul class="list-disc list-inside">
                <li>Iris Heartfang</li>
                <li>Scade</li>
                <li>owlmanatt</li>
                <li>Houston Tabletop Design Group</li>
            </ul>
        </div>

        <div>
            <h2 class="text-2xl border-b-2 border-lavender border-dashed mb-4">Special Thank Yous</h2>
            <ul class="list-disc list-inside">
                <li>Poinko</li>
                <li>Stuck at Home Con</li>
                <li>Sad Potato Productions</li>
            </ul>
        </div>
    </div>
</SiteLayout>