---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="Rules">
    <h2>Basic Concepts</h2>
    <h2>The Cards</h2>
    <h2>Locations</h2>
    <h2>Start Up</h2>
    <h2>Active Player's Turn Reference</h2>
    <h3>PREP PHASE</h3>
    <h3>MAIN PHASE</h3>
    <h3>SCORE PHASE</h3>
    <h3>BOON PHASE</h3>
    <h2>Deck Building</h2>
</SiteLayout>