---
import SiteLayout from './SiteLayout.astro';

interface Props {
    title: string;
}

const { title } = Astro.props.frontmatter || Astro.props;
---
<SiteLayout title={title}>
    <div>
        <slot />
    </div>
    <div>div for nav</div>
</SiteLayout>